/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(61, 61, 78);
}
.btn {
  background-color: #0d1164 !important;
  color: #ffffff !important;
  border: none;
}
.page-link {
  color: #0d1164 !important;
}
.pagination {
  border-color: #0d1164 !important;
}
.active > .page-link,
.page-link.active {
  background-color: #0d1164 !important;
  color: #ffffff !important;
  border: none !important;
}
